.cproject

Debug/

.cproject

.project
.classpath
.settings
*.project
*.classpath
*.settings
/.project
/.classpath
/.settings
.project/
.classpath/
.settings/
*.project/
*.classpath/
*.settings/ 



.cproject
/.cproject
*.cproject/

# +++ Visual Studio Code +++
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# qinbranch exclude files:
src/town/test2.cpp
src/town/test1.
CMakeLists.txt


# qinbranch exclude files:
src/town/test2.cpp
src/town/test1.
CMakeLists.txt
